@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 5rem;
    line-height: 1;
}

h2 {
    @apply text-4xl
}

h3 {
    @apply text-xl
}

h4 {
    @apply text-lg
}

.caret::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.caret-up::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}

.reference:hover span {
    visibility: visible;
    transition-delay: 0.3s;
    transition-property: visibility;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
